/*-------------------------------*/
/* General                       */

html,body {
	height: 100%;
	padding: 0;
	margin: 0;
}

p {
    font-family: 'Josefin Slab', serif;
    font-size: 1.3vw;
}

.titlefont {
    font-family: 'Comfortaa', cursive;
}

.line {
    width: 100%;
    border-top: 6px solid #8BC34A;
    margin: 0;
}


/*-------------------------------*/
/* Header                        */

#header {
	
}

#bg {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}



#bg video {
	opacity: 0.2;
    min-height: 100vh;
    min-width: 100vw;
}



#downarrow {
    color: #DDD;
    font-size: 3vw;
    margin: 6% 44%;
}

#logoaward{
}

#headertxt {
	font-family: 'Josefin Slab', serif;
	font-size: 2vw;
    font-weight: 100;
	color: white;
    padding: 0 8%;
    text-align: center;
}

#title {
	padding: 8% 30% 0;
}

/*-------------------------------*/
/* At a glance                   */


#vid-ataglance {
    margin: 0 0 2% 0;
}

#vid-ataglance .col-xs-6 {
    padding: 0;
}

.vid-container {
	margin: 3% 0% 1% 0%;
    position: relative;
    padding-bottom: 47%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ataglance {
    margin-top: 4%;
    padding: 0;
    float: right;

}

#ataglance table {
    white-space: nowrap;
}

#ataglance h1 {
    font-size: 3vw;
    margin: 0% 0% 0% 3%;
}

#ataglance td {
    padding: 4%;
    font-family: 'Josefin Slab', serif;
    font-size: 1.3vw;
    /*width: 8%;*/
}

#ataglance th {
    padding: 4% 18% 4% 4%;
    font-family: 'Josefin Slab', serif;
    font-size: 1.3vw;
    /*width: 3%;*/
    vertical-align: top;
}

#ataglance th i {
    margin-right: 5%;
}



#section1 {
	/*background-color: #EEFFED;*/
    background-color: #FFF;
    padding: 8.33%;
}


/*-----------------------------
    Kosbie Johnson is Average Joe
 */

#section2 {
    /*background-color: #D9FDE7;*/
    background-color: transparent;
    padding: 8.33%;
    color: #FFF;
}

#section2 .col-xs-6 {
    float: right;
}

#section2 h1 {
    margin: 0;
    margin-bottom: 4%;
    font-size: 3vw;
    text-transform: uppercase;
}

#section2 .description {
    margin: 15% 0;
}

#pvkart {
	padding: 8% 0 0 8%
}

#section2 .line {
    position: relative;
    left: -30%;
    width: 130%;
}



#githubplug {
	float: right;
	margin: 0 3% 0 0;
}

#githubplug > h3 {
	margin: 0 5px 0 0;
	display: inline-block;
	font-size: 2.5vw;

}

#githubplug > img {
	display: inline-block;
	height: 5vw;
}


div#desc-container {
	margin: 0;
}

div#desc-container h1 {
	font-size: 6vw;
}