html,body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#header {
	
}

#headerimg {
	background-color: black;
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	z-index: -1;
}

#headerimg img {
	opacity: 0.3;
}

#logoaward{
	margin: 0px;
	margin-left: 10%;
	padding: 0px;
}

#headertxt {
	font-family: Lato, sans-serif;
	font-size: 3vw;
	color: white;
	margin: 8% 0 8% 5%;
    padding: 0;
}

#title {
	margin: 10% 0 0 0;
	position: absolute;
	z-index: 10;
}

.vid-container {
	margin: 3% 0% 1% 0%;
    position: relative;
    padding-bottom: 47%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#about {
	background-color: #EEFFED;
}

#pvkart {
	padding: 8% 0 0 8%
}

#githubplug {
	float: right;
	margin: 0 3% 0 0;
}

#githubplug > h3 {
	margin: 0 5px 0 0;
	display: inline-block;
	font-size: 2.5vw;
	font-family: bebas_neueregular, sans-serif;
}

#githubplug > img {
	display: inline-block;
	height: 5vw;
}
