-------------------------------*/
/* General                       */

html,body {
	height: 100%;
	padding: 0;
	margin: 0;
}

p {
    font-family: 'Josefin Slab', serif;
    font-size: 1.3vw;
}

.titlefont {
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
}

.line {
    width: 100%;
    border-top: .6vw solid #8BC34A;
    margin: 0;
}

.wline {
    width: 100%;
    border-top: .6vw solid white;
    margin: 0;
}


/*-------------------------------*/
/* Header                        */

#header {
	
}

#bg {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}



#bg video {
	opacity: 0.2;
    min-height: 100vh;
    min-width: 100vw;
}



#downarrow {
    color: #DDD;
    font-size: 3vw;
    margin: 6% 44%;
}

#logoaward{
}

#headertxt {
	font-family: 'Josefin Slab', serif;
	font-size: 2vw;
    font-weight: 100;
	color: white;
    padding: 0 8%;
    text-align: center;
}

#title {
	padding: 8% 30% 0;
}

#title a {
    color: white;
    text-decoration: underline;
}
/*-------------------------------*/
/* At a glance                   */


#vid-ataglance {
    margin: 0 0 2% 0;
}

#vid-ataglance .col-xs-6 {
    padding: 0;
}

.vid-container {
	margin: 3% 0% 1% 0%;
    position: relative;
    padding-bottom: 47%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ataglance {
    margin-top: 4%;
    padding: 0;
    float: right;

}

#ataglance table {
    white-space: nowrap;
}

#ataglance h1 {
    font-size: 3vw;
    margin: 0% 0% 0% 3%;
}

#ataglance td {
    padding: 4%;
    font-family: 'Josefin Slab', serif;
    font-size: 1.3vw;
    /*width: 8%;*/
}

#ataglance th {
    padding: 4% 18% 4% 4%;
    font-family: 'Josefin Slab', serif;
    font-size: 1.3vw;
    /*width: 3%;*/
    vertical-align: top;
}

#ataglance th i {
    margin-right: 5%;
}



#section1 {
    background-color: #FFF;
    padding: 8.33%;
}


/*-----------------------------
    Kosbie Johnson is Average Joe
 */

#section2 {
    background-color: transparent;
    padding: 8.33%;
    color: #FFF;
}

#section2 .col-xs-6 {
    float: right;
}

#section2 h1 {
    margin: 0;
    margin-bottom: 4%;
    font-size: 3vw;
    text-transform: uppercase;
}

#section2 .description {
    margin: 15% 0;
}

#pvkart {
	padding: 8% 0 0 8%
}

#section2 .line {
    position: relative;
    left: -30%;
    width: 130%;
    margin-top: 5%;
}

/*---------------------------------*/
/* Features                        */

#section3 {
    background-color: #8BC34A;
    padding: 8.33%;
    color: white;
}

#imgrow {
    position: relative;
}

#imgrow #khaki {
    position: absolute;
    bottom: 0;
}

#imgrow #short {
    position: absolute;
    bottom: 0;
}

#khaki {
    left: 33%;
    padding-left: 6%;
    padding-right: 3%;
}

#short {
    left: 66%;
}

/* ----------------------------*/
/* Footer                      */

#github {
    text-align: center;
}

#github img {
    width: 10%;
    height: auto;
}

#github a {
    text-decoration: underline;
    color: white;
    font-family: 'Comfortaa', cursive;
}

#github h1 {
    font-size: 4vw;
    margin: 1% 0 0 0;
}


#footer {
    padding-top: 4%;
    background-color: transparent;
}

#footer p {
    margin: 4% 0;
    color: #999;
    font-size: 1vw;
}

#footer a {
    color: white;
    text-decoration: underline;
}