/*----------------------------------------*/
/* General */

html {
    background-color: #f1efe5;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity .6s ease-in-out, top .6s ease-in-out; 
}

.transparent {
    opacity: .6;
}

.is-spaced {
    letter-spacing: 5px;
}

hr {
    height: 4px;
    border: none;
    background-color: #df4e4e;
}

.section {
    background-color: transparent;
    padding: 3%;
}

.title {
    color: #df4e4e;
    font-size: 36px;
}

.subtitle {

}


body {
    -webkit-text-size-adjust: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                  Index                                     */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/*----------------------------------------*/
/* Navbar */

.nav {
    margin-top: 3%;
    margin-bottom: 8%;
    background-color: transparent;
}

nav .container {
    padding-right: 50px;
}

a.nav-item.is-tab {
    margin-left: 4%;
    font-size: 1.1em;
    padding: 0;
    font-weight: 300;

}

/*----------------------------------------*/
/* Header */

#kenvector {
    width: 12em;
    height: auto;
}

.vecline {
    stroke: #df4e4e;
    fill: none;
}

#name {
    font-family: 'Rock Salt', 'Helvetica Neue', sans-serif;
    font-size: 5em;
    color: black;
    line-height: inherit;
    margin-bottom: 20px;
}

#role {
    color: #69707a;
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 160%;
}

#branch {
    width: 62%;
    position: relative;
    top: -3vw;
    z-index: 1;
}

#branch-top {
    width: 62%;
    position: absolute;
    top: -3vw;
}

i.fa.fa-angle-double-down {
    font-size: 3em;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
    
}

/*---------------------------------------*/
/* Portfolio */

#portfolio {
    padding: 50px;
    padding-top: 0;
}

#selected-works-text {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 8%;
    color: #222324;
    font-size: 1.2em;
    font-weight: 300;

}

#selected-works-text:before,
#selected-works-text:after {
    display: inline-block;
    content: "";
    height: 2px;
    background: #D05454;
    position: absolute;
    width: 100%;
    top: 50%;
}

#selected-works-text:before {
    right: 70%;
}

#selected-works-text:after {
    left: 70%;
}

#portfolio .level-left {
    margin: 0 10px 0 0;
}

#portfolio .level-right {
    margin: 0 0 0 10px;
}

figure.effect-goliath {
    background: #df4e4e;
}

figure.effect-goliath img,
figure.effect-goliath h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-goliath img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

figure.effect-goliath h2,
figure.effect-goliath p {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

figure.effect-goliath p {
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    color: white;
    text-transform: uppercase;
}

figure.effect-goliath:hover img {
    -webkit-transform: translate3d(0,-80px,0);
    transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover a {
    -webkit-transform: translate3d(0,-80px,0);
    transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover h2 {
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.grid figure {
    overflow: hidden;
    position: relative;
    margin: 20px 0 0 0;

}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
/*-------------------------------------------*/
/* Footer */
.footer {
    background-color: transparent;
}

.footer p {
    font-size: .9em;
    font-weight: 100;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                                  Works                                     */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.heading {
    text-transform: none;
    padding-top: 10%;
    margin: 0;
}

.button-container {
    margin: 5%;
}

.go-left {
    float: left;
}

.go-right {
    float: right;
}

.subheading {
    margin: 10% 0;
    color: white;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.is-red {
    background-color: #df4e4e;
    color: white;
    /*overflow: hidden;*/
}

.footer.is-red a, .footer.is-red a:visited{
    color: white;
}

.section-intersect {
    padding-bottom: 0;
}
/* --------------------------------------*/
/* Pants vs Kosbie */

#insights {
    margin-top: -4px;
}

#laptop {
    width: 80%;
}

#pvkscreen {
    width: 60%;
    position: absolute;
    left: 20%;
    top: 11%;
}

.laptop-container {
    position: relative;
}


/*--------------------------------------*/
/* Baymax */


#skele {

    -webkit-filter: drop-shadow(0px -4px 4px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=-4, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=-4, Color='#444')";

    position: relative;
    top: 4px;
}

/*--------------------------------------*/
/* Designs */

.gallery {
  width: 100%;
  text-align: center;
}
.gallery img {
  max-width: 100%;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
}
.gallery figure {
  margin: 15px;
  display: inline-block;
  position: relative;
}

.square-fig {
    width: 40%;
}

#ASA-main-logo {
    margin: 40px 0;
}

.row {
    display: block;
}

#award-fig{
    width: 26%;
}

#shirts-fig {
    width: 53%;
}

.banner-fig {
    margin: 0;
}

#back-to-top {
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=4, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=4, Color='#444')";
    color: white;
    position: fixed;
    bottom: 5%;
    right: 5%;
    transition: opacity .6s ease-in-out, top .6s ease-in-out; 
}

#back-to-top:hover {
    transition: opacity 0s ease-in-out, top 0s ease-in-out; 
    opacity: 1;
}

/*-------------------------------------*/
/* About */

.ken-box {
    position: absolute;
    width: 100%;
    bottom: 100%;
}


#ken-cutout {
    max-width: 35%;
    position: relative;
    right: -65%;
    top: 29vw;
    /*right: 0%;*/
}

.solo-heading {
    padding: 20vh 0;
}

@media screen and (min-width: 1180px) {
    #ken-cutout {
        top: 22em;
        max-width: 30%;
    }

    #about-section {
        padding: 40px;
    }
}

#about-content {
    padding: 35% 5%;
}

#about-content i {
    margin: 40px;
    color: white;
}


/*-------------------------------*/
/* EDITOR */

#editor-img {
    padding: 5% 5% 0 5%;
    margin-bottom: -4px
}